.navbar {
    transition: all 0.4s;
}

.navbar .nav-link {
    color: #fff;
}

.navbar .nav-link:hover,
.navbar .nav-link:focus {
    color: #fff;
    text-decoration: none;
}

.navbar .navbar-brand {
    color: #fff;
}

/* la navbar appare allo scroll down */
.navbar.active {
    background:#88BEBB;
    box-shadow: 1px 2px 10px rgba(0, 0, 0, 0.1);
}

.navbar.active .nav-link {
    color: #fff;
}

.navbar.active .nav-link:hover,
.navbar.active .nav-link:focus {
    color: #fff;
    text-decoration: none;
}

@media (max-width: 991px) {
    .navbar {
        background: #88BEBB; 
    }
    .navbar .nav-link {
        color:#fff;
        }
}

.header-wrapper {
    min-height: 75vh;
    background-image: url('../img/jeremy-bishop-1braZySlEKA-unsplash.jpg');
    background-position: center; 
}

.arrow {
    text-align: center;
    padding-top: 80px;
    a {
    color :#023954;
    text-decoration: none;
    }
}

.bounce {
    -moz-animation: bounce 2s infinite;
    -webkit-animation: bounce 2s infinite;
    animation: bounce 2s infinite;
}

@keyframes bounce {
    0%, 20%, 50%, 80%, 100% {
        transform: translateY(0);
    }
    40% {
        transform: translateY(-30px);
    }
    60% {
        transform: translateY(-15px);
    }
}